# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS files
*.sdf
*.tlog
*.pdb
*.log
*.ilk
*.idb

# Folders
lib/cryptopp
lib/pugixml
lib/wxwidget

