# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS files
*.sdf
*.tlog
*.pdb
*.log
*.ilk
*.idb

# Qt
*.user
GUI/Qt/include
GUI/Qt/lib

# Folders
lib/cryptopp
lib/pugixml
lib/wxwidget
lib/wxwidget_
lib/poco
delivery/include
delivery/includecopy
GUI/icons
x64

*.opensdf
crypt.v12.suo
x64/Release/log.txt
